*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
}
.pookie{


    width: 100%;
    display: flex;
    margin: auto;
    border: 1px solid white;
    justify-content: center;
    max-width: fit-content;
    background-image: url(lion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    
}

.mama{
    background: rgba(255,0,0,0.7);

    justify-content: center;
    height: 22rem;
    width: 30rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    text-align: center;
}
.h1{
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: x-small;
    justify-content: right;
    padding-left: 2rem;
    text-align: center;
    

}
.h2{
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: xx-small;
    line-height: 2rem;
}
.button{
    padding-left: 2rem;
    text-align: center;
    
    
 
}
.know-more{
padding: 0.7rem;
border-radius: 30px;
background-color: transparent;
color: white;
border: 3px solid white;
width: 10rem;
text-align: center;


}
.know-more:hover{
   background-color: blue;
}

.papa{
    
        background: rgba(0,255,255,0.7);
        align-items: center;
        justify-content: center;
        height: 22rem;
        width: 30rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;
}
.h3{
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: medium;
    justify-content: right;
    text-align: center;
    

}
.h4{
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: small;
    line-height: 2rem;
    text-align: center;
}
.children{
        background-color: rgba(255,165,0,0.7);
        align-items: center;
        justify-content: center;
        height: 22rem;
        width: 30rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;

}
.h5{
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: x-large;
    justify-content: right;
    padding-left: 2rem;
    text-align: center;
    

}
.h6{
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: small;
    line-height: 2rem;
    text-align: center;
    font-family: sans-serif;
    
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .mama .papa{
        display: flex;
        flex-direction: column; 
    }
    .children{
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
    }
}